h1 {
    font-family: "Helvetica";
    text-shadow: 0px 0px 20px white;
}

p {
    font-family: "Helvetica";
    font-size: 200%;
    margin-left: 30px;
}

h1, p, i {
    color: white !important;
}

html {
    background-color: rgb(56, 72, 93);
}

.top-bar {
    background-color: rgb(36, 44, 69);
    color: white;
    padding: 10px 20px; /* Add padding to create space around the text */
    position: fixed;
    top: 0;
    left: 0; /* Ensure the bar starts at the very left of the viewport */
    width: 100%; /* Ensure the bar spans the full width of the viewport */
    z-index: 1000;
    display: flex; /* Enable flexbox */
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    height: auto; /* Allow height to adjust based on content */
    box-sizing: border-box; /* Include padding in width/height calculations */
    margin: 0; /* Remove any default margin */
}

body {
    margin-top: 120px; /* Adjust this value to match the height of your header */
}