h1:not(.top-bar) {
    font-family: "Helvetica";
    font-size: 200%;
    margin-left: 30px;
    padding-top: 30px;
    color: #FFFFFF;}
p {
    font-family: "Helvetica";
    font-size: 120%;
    margin-left: 30px;
    line-height: 3.8px;
    color: #FFFFFF;}

a {
    color: #6fb4ff;
    text-decoration: dashed underline;
    font-weight: bold;
}

html {
    background-color: rgb(46, 62, 83);
}

body {
    margin-top: 90px; /* Match this value to the min-height of the header bar */
}

.footer-mark {
    font-size: 20px;
    transition: letter-spacing 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer-mark:hover {
    letter-spacing: 1mm;
}
footer {
    background-color: rgb(36, 44, 69);
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

/* Header Bar */
.top-bar {
    background-color: rgb(36, 44, 69);
    color: white !important;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center; /* Vertically center content */
    justify-content: center; /* Horizontally center content */
    box-sizing: border-box;
    transition: height 0.05s ease;
    min-height: 90px;
    text-indent: 0px !important;
    font-family: "Helvetica";
    text-shadow: 0px 0px 22px white;
}

/* make sure header text is properly centered*/
.top-bar h1 {
    margin: 0;
    padding: 0;
    line-height: 1;
    background-color: transparent !important;/
    font-size: inherit;
}
